li{
    list-style-type: none;
}
a{
    color: black;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    column-gap:30px;
    padding: 08px;
}
.brand-name{
    font-family: 'Anton', sans-serif;
    margin:0px;
    font-size: 8rem;
}
.nav-header{
    display: flex;
    justify-content: space-around;
}
.Version{
    display: flex;
    flex-direction: column;
}
p{
    font-family: 'Anton', sans-serif;
    
}
.btn{
    background-color: #ffc832;
    color: black;
    border-color: #ffc832;
    width: 100%;
    padding: 19px;
    height:auto;
    font-size: 2.25rem;
    margin-top: 20px;
}
.btn:hover{
    border:1px solid black;
}
.Version{

}

